html {
    width: 100%;
    height: 520vh;

    scroll-behavior: smooth;
    font-family: "Avenir";
    font-weight: 100;
}
body {
    background-color: white;
    
    margin: 0px;

    transition: all 0.4s ease-in-out;
}

@font-face {
    font-family: "Scriptz";
    src: url(Fonts/Scriptz/Scriptz.otf);
}

@font-face {
    font-family: "Avenir";
    src: url(Fonts/Avenir_Roman/Metropolis-Thin.otf);
}

@font-face {
    font-family: "Avenir Italic";
    src: url(Fonts/Avenir_Roman/Metropolis-ThinItalic.otf);
}

:root {
    --color-primary: rgb(235, 241, 241) ;
    --color-secondary: rgba(190, 195, 199, 0.6);
    --color-tertiary: rgb(128, 128, 128);

}

.midLine {
    position: sticky;
    top: 437.5px;

    display: none;
}


/***************************************************************/
/******************DESKTOP MEDIA*********************************/




@media (min-width: 1125px) {
    header{
        width: 100%;
        height: 5vh;
    
        position: sticky;
        top: 0px;

        outline: 1px dotted gray;
    
        background-color: inherit;

        display: none;
    }

    header > button {
        width: 5%;
        height: 100%;
    }

    .intro_container_box {
        width: 90%;
        height: 100vh;

        margin: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        /* background-color: var(--color-secondary); */
        /* outline: 1px dotted black; */
    }
    .intro_container {
        width: 50%;
        height: 20vh;

        flex-direction: column;

        /* transform: rotateX(0deg);
        transform-origin: bottom; */

        overflow: hidden;

        transition: all 0.8s ease-in-out;

         /* background-color: var(--color-secondary);
         outline: 1px dotted black; */
    }
    span {
        color: rgb(32,42,68);
        margin: 0px;
    }
    h1{
        margin: 0px;
    }

    .name_container {
        width: 100%;
        height: 50%;

        margin: auto;

        /* background-color: var(--color-secondary);
        outline: 1px dotted black; */
    }

    .name_container > * {
        margin-left: 20px;
        transform: translateY(-100%);

        transition: all 0.8s ease-in;
    }
    .title_container {
        width: 100%;
        height: 50%;

        position: relative;

        margin: auto;
        


        /* background-color: var(--color-secondary);
        outline: 1px dotted black; */
    }
    .title_container > * {
        transform: translateY(300%);

        position: absolute;
        bottom: 0;
        
        transition: all 1s ease-in;
    }

    .name_container > * {
        font-size: 100px;
        font-family: "Scriptz", sans-serif;
        letter-spacing: 2px;
    }
    .title_container > *, .title_container > h1 > * {
        font-size: 50px;
        letter-spacing: 4px;
    }

    .main_page_box {
        width: 90%;
        height: 320vh;

        position: relative;

        margin: 0vh auto 0px auto;

        /* background-color: var(--color-secondary); */
       
    }

    .info_container{
        width: 25%;
        height: 100%;

        position: fixed;

        /* background-color: blueviolet;
        outline: 1px dotted black; */

        top: 0;
        left: 0;
    }
    .sticky_number{
        position: absolute;

        top: 5%;
        left: 10%;

        transform: translateX(-100%);
        opacity: 0;

        transition: all 0.6s ease-in-out;
    }
    .content_number {
        font-size: 30px;
    }

    .sticky_info {
        width: 100%;
        height: 240px;

        position: absolute;

        top: 45%;
        left: 10%;

        /* background-color: var(--color-secondary);
        outline: 1px dotted black; */

        transform: translateX(-100%);
        opacity: 0;

        transition: all 0.6s ease-in-out;
    }    
    .content_title {
        font-size: 60px;
    }
    .content_info {
        font-size: 20px;
    }

    .social_media_container {
        width: 15%;
        height: 150px;

        background-color: var(--color-secondary);

        position: absolute;

        bottom: 5%;
        left: 10%;
        
    }
    .social_media_container > * {
        width: 100%;
        height: 33.33%;

        background-color: var(--color-secondary);

        outline: 1px dotted black;
    }
    
   

    .content_box {
        width: 80%;
        height: 100%;

        position: absolute;
        right: 0px;

        /* background-color: var(--color-secondary);
        outline: 1px black dotted; */
    }

   

    .content_1, .content_2, .content_3, .content_4 {
        width: 90%;
        height: 80vh;

        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0px auto 0px 20px;
        
        transition: all 1s ease-out;

        /* background-color: aqua;
        outline: 1px dotted black; */

        

        animation: fade linear both;
        animation-timeline: view();
    }

    .content_2, .content_3, .content_4 {
        
        transform: translateY(+00%);
        
    }

    .content_1_img {
        width: 90%;
        height: 90%;

        justify-self: auto;
        
        object-fit: fill;

        transition: all 0.2s ease-in-out;

        filter: grayscale(0%);
    }

    /* .content_1_img:hover {
        filter: grayscale(0%);
    } */

    @keyframes fade {
        0% {
            opacity: 0.2;
            transform: translateX(10%);
            filter: blur(4px);
            filter: grayscale(100%);
            
        }
        10%{
            opacity: 0.8;
            filter: blur(0.5px);
            filter: grayscale(20%);
        }
        50% {
            opacity: 1;
            transform: translateX(0%);
            filter: blur(0px);
            filter: grayscale(0%);
         
        }
        90% {
            opacity: 0.8;
            filter: blur(0.5px);
            filter: grayscale(20%);
        }
        100% {
            opacity: 0.2;
            transform: translateX(10%);
            filter: blur(4px);
            filter: grayscale(100%);
           
        }
    }

}

footer {
    width: 80%;
    height: 100vh;

    position: relative;
    bottom: 0px;

    margin: 0px auto;

    background-color: aquamarine;
}

footer > * {
    display: block;
}


/***************************************************************/
/******************TABLET MEDIA*********************************/





@media (min-width: 768px) and (max-width: 1124px) { 
    header{
        width: 90%;
        height: 5svh;
    
        margin: auto;
    
        background-color: rgba(217, 255, 0, 0.4);
    }

    .main_page_box {
        width: 90%;
        height: 200svh;

        margin: 100vw auto 0px auto;

        background-color: rgba(217, 255, 0, 0.4);
    }
}




/***************************************************************/
/*******************PHONE MEDIA**********************************/




@media (max-width: 767px) { 
    header{
        width: 90%;
        height: 5vh;
    
        margin: auto;
    
        background-color: rgba(0, 26, 26, 0.4);
    }

    .main_page_box {
        width: 90%;
        height: 200vh;

        margin: 100vh auto 0px auto;

        background-color: rgba(0, 26, 26, 0.4);
    }
}



